@use './variaveis';

.regras{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 4em 1.5em;

    &__container{
        max-width: 800px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    img{
        max-width: 50%;
        height: auto;
        margin: 2em 0;
    }

   .regras__lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

    li {
        text-align: center;
    }
}
}