@use './variaveis';

.regras{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 4em 0;

    &__container{
        max-width: 800px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    img{
        max-width: 100%;
        max-width: 400px; 
        height: auto;
        margin: 2em 0;
    }

   .regras__lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

    li {
        text-align: center;
    }
}

@media(max-width: 768px){
    img{
       max-width: 200px; 
    }

    .regras__lista{
        margin: 0;
        padding: 0;
    }

}
}